.brand {
  font-weight: bold;
  font-size: 35pt;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
body {
  background-image: linear-gradient(to right, #87ceeb, honeydew);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15pt;
  margin-bottom: 4rem;
}
aside {
  display: flex;
  flex-direction: column;
  font-size: 15pt;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  border-radius: 5rem;
}

article {
  display: flex;
  flex-direction: column;

  background-color: white;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 10pt;
  padding: 0.5rem;
  border-radius: 2rem;
}
.testimonial {
  background-color: lightgray;
  border-radius: 5rem;
  font-weight: bold;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: end;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
  border-radius: 5rem;
  padding: 1rem;
  background-color: black;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
main {
  display: flex;
  flex-grow: 1;
  gap: 1ch;
}
li {
  margin-top: 1rem;
  list-style-type: none;

  background-color: deepskyblue;
  border-radius: 5rem;
  padding: 1rem;
}
ul {
  margin: 0;
  padding: 0;
}
